# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/

/android/gradle.properties
screenshots/phone/Screenshot_1624488643.png
screenshots/phone/Screenshot_1624488812.png
screenshots/phone/Screenshot_1624488829.png
screenshots/phone/Screenshot_1624489060.png
screenshots/phone/Screenshot_1624489169.png
screenshots/tablet/Screenshot_1624489314.png
screenshots/tablet/Screenshot_1624489354.png
screenshots/tablet/Screenshot_1624489382.png
screenshots/tablet/Screenshot_1624489405.png
screenshots/tablet10/Screenshot_1624489505.png
screenshots/tablet10/Screenshot_1624489548.png
screenshots/tablet10/Screenshot_1624489596.png
screenshots/tablet10/Screenshot_1624489569.png
